body {
  line-height: 150%;
  font-family: 'Droid Sans';
  font-weight:100;
}

em {
    background-color: #EEE;
    border: 1px solid #777;
    border-radius: 3px;
    font-style: normal;
    padding: 2px 3px;
}

div.post img {
    padding-top:2em;
    padding-bottom:2em;
    max-width:100%; height:auto
}

a {
    color: #000000;
}

#wrapper {
  margin: 0 auto 0;
  width: 100%;
  padding: 0;
  background: #fff;
  border-radius: 1.5em;
}

#header {
  text-transform: lowercase;
  text-align: left;
  background: #E1E1E1;
  font-size: 2em; 
  padding: 0.5em;
  text-align: center;
}

#header h2 {
  display: inline;
  margin-left: 0.5em;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
  font-weight: normal;
}

#menu {
  top: 0;
  background: #47423F;
  padding: 0em;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.9em;
  width: 100%;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 0 0.5em;
  line-height: 2.5em;
  font-weight: normal;
}

#content {
  margin-bottom: 50px;
  margin: auto;
  padding: 2em;
  width: 40%;
  background: #FAFAFA;
}

.content-books {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding-left: 2em;
  padding-right: 2em;
  background: #FAFAFA;
}

.content-books ul {
    margin-left: 30%;

}

#content h2 {
  margin: 0 0 0.5em 0;
  color: black;
  font-size: 1em;
}

#content p {
  line-height: 140%;
  width: 100%;
}

.date {
    padding-top:0,1em;
    padding-bottom:1em;
    text-align:center;
}

.post span:before,

.post span:after {
    padding-left:5px;
    padding-right:5px;
}

div.post {
  margin-bottom: 2em;
  width: 100%;
  float: left;
}

.summary {
    width: 100%;
    float: right;
}


h1 {
    font-weight:100;
    font-size:150%;
}

h2 {
    text-align:center;
}


h3 {
    font-weight:400;
}
.summary h1 {
    text-align: center;
}
.post h1 {
  text-align: center;
}

.post h1 a {
  text-decoration: none;
  clear: left;
  text-align:center;
  display: block;
  color: black;
  margin: 0 0 0.0em 0;
}


.post h3 a {
  text-decoration: none;
  clear: left;
  text-align:center;
  display: block;
  color: black;
  padding: 0.1em 0;
  margin: 0 0 0.0em 0;
}


.post br { margin-bottom: 10px;}

.highlight .lineno {
  border-right:1px solid #ccc;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em;
  color: white !important;
}

figure {
    width:100%;
    margin: 0;
}

.highlight {
    width:auto;
    padding-right:2em;
}


.highlight pre code {
  width:100%;
  background: rgb(51, 51, 51);
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block; 
  padding: 1em;
  overflow-x: auto; 
  font-family: Monaco,Consolas, Courier New, Monospace !important;
  font-size:110%;
  color: white !important;
}

.highlight pre pre {
    margin:auto;
    padding-left:1em;

}



.nostyle {
  font-family: Curier,mono;
  background: none;
  border: none;
  border-width: none;
  padding: none;
  overflow: auto;
  font-size:80%;
  color: none;
  letter-spacing: 0;
}
table.post-list {
  width: 100%;
  border-collapse: collapse;
}

table.post-list a {
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

table.post-list th {
  text-align: left;
}

table.post-list td, table.post-list th {
  padding: 0.5em 0.3em;
  border-bottom: 0.1em solid #E1E1E1;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
  border-bottom: 0;
}

div.related {
  margin-bottom: 2em;
}

#footer {
  position: fixed;
  bottom: 0;
  background: #47423F;
  align: center;
  padding: 0.5em;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.9em;
  width: 100%;
}

#footer a {
    color: #FFFFFF;
}
.home_box {
  float: left;
}

#content .home_box h2 {
  background: #417378;
  padding: 0.3em 0.5em;
  border-bottom: 3px solid #255;
  margin-bottom: 0em;
  color: white;
}

#toc-container {
    float: left;
    width: 28%;
}
#toc-container a {
    text-decoration:none;
    font-weight: normal;
    color: #000000;
}

.home_box h2 a {
  color: #000000;
  margin: 0 0.2em;
}

#home_left {
  width: 29em;
}

#home_right {
  width: 16em;
  margin-left: 1em;
}

.clearfix { clear: both;}


.home_box .post h1 a {
  font-size: 1em;
}

.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }

.references {
    list-style:none;
    padding:0;
    margin:0;
}

.references a {
    font-weight:normal;
}

