body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.content h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

pre.lineno {
    color: #333;
    border: 0px;
}

code.language-text {
    white-space: pre;
}

td, th {
    padding: 0px 10px 0px 10px;
}

.center {
    margin: 0 auto;
}
.tablestyle td {
    border: 1px solid #ccc;
}
.tablestyle tr {
    border: 1px solid #ccc;
}

.code pre {
	border: 0px;
	border-left: 1px solid #ccc;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1em;
}


::-webkit-scrollbar {
    width: 1em;
    height: 0.4em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #eee
}
::-webkit-scrollbar-thumb {
    background: #ccc
}
summary {
  display: list-item;
}
