---
layout: master
---

  <link rel="stylesheet" href="/css/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/jquery-1.4.3.min.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.js"></script>
<script>
 $(document).ready(function() {
    $("a#single_image").fancybox();
  });
</script>

<div class="summary">
<h1 class='post_title'>{{page.title}}</h1>
</div>
{{ page.introduction }}

<div style="display:table-row;">
    <div style="display:table-cell; width:20%">
    <b>Album on flickr</b>
    </div>
    <div style="display:table-cell;vertical-align:top">
         <a href="{{ page.flickr }}" target="_blank">{{page.flickr}}</a>
    </div>
</div>

<br>
<br>
<div style="display:table">

  {% for image in page.images %}
    <div style="display:table-row;">
        <div style="display:table-cell; width:40%">
            <a id="single_image" href="{{ image.image_path }}">
            <img src="{{ image.thumb }}" alt=""/></a>
        </div>
        <div style="display:table-cell;vertical-align:top">
            {{image.description}}
        </div>
    </div>
  {% endfor %}

</div>
</ul>
