---
layout: default
---

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link  href="/css/jquery.fancybox.min.css" rel="stylesheet">
<script src="/js/jquery.fancybox.min.js"></script>


<script>
 $(document).ready(function() {
    $("a#single_image").fancybox();
  });
</script>


<div class="well">
<div align="center">
<h1>{{page.title}}</h1>
<a href="{{page.flickr}}" target="_blank">Album on flickr</a>
</div>

<br>
{{ page.introduction }}
<div style="display:table;padding-top:0.5em">
  {% for image in page.images %}
    {% if image.pre %}
    </div>
    <div style="padding-top:1em;padding-bottom:1em;">
    {{image.pre}}
    </div>
    <div style="display:table;padding-top:0.5em">
    {% endif %}
    <div style="display:table-row;">  
    <div style="display:table-cell;padding-right:1em;padding-top:1em">
    <a data-fancybox="gallery" href="{{ image.image_path }}" data-caption="{{image.description}}">
       <img src="{{ image.thumb }}" alt=""/>
    </a>
    </div>
    <div style="display:table-cell;vertical-align:top;padding-top:1em">
        {{image.description}}
    </div>
    </div>
  {% endfor %}
</div>
</div>
