<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="screen" charset="utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/pygments.css">
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-75879921-1', 'auto');
        ga('send', 'pageview');

    </script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            var p1 = 'marco.', p2 = 'guerri.blog', p4 = 'fastmail.com';
            element = document.getElementById('email');
            e = p1 + p2  + '@' + p4;
            element.innerHTML = 'The preferred way to get touch with me is by dropping me an email at <a href=\'mailto:' + e + '\'>' + e + '</a>. ' + element.innerHTML;
        });
    </script>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
              <h2>marco guerri</h2>
      </div>
      <div id='menu'>
        <ul>
          <li><i class="fa fa-list"></i><a href='/'>Blog</a></li>
          
          <li><i class="fa fa-book"></i><a href='/books.html'>Books</a></li>
          <li><i class="fa fa-question"></i><a href='/about.html'>About</a></li>
          <li><i class="fa fa-github"></i><a href='https://github.com/marcoguerri'>Github</a></li>
        </ul>
      </div>
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
    <div id='footer'>
        Copyright © 2014-2015 Marco Guerri. 
        
    </div>
    </div>    
  </body>
</html>
