<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/pygments.css">
    <link rel="stylesheet" href="/css/toc.css">
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.toc.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var p1 = 'marco.', p2 = 'guerri', p4 = 'fastmail.com';
            element = document.getElementById('email');
            e = p1 + p2  + '@' + p4;
            element.innerHTML = 'The preferred way to get touch with me is by dropping me an email at <a href=\'mailto:' + e + '\'>' + e + '</a>. ' + element.innerHTML;
        });
    </script>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
              <h2>marco guerri</h2>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/'>Blog</a></li>
          <li><a href='/about.html'>About</a></li>
          <li><a href='/books.html'>Books</a></li>
        </ul>
      </div>
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
    <div id='footer'>
        Copyright © 2014-2015 Marco Guerri. 
        
    </div>
    </div>    
  </body>
</html>
