---
layout: master
---
<div class='summary'>
<h1 class='post_title'>{{page.title}}</h1>
    <div class="date">
        <i class="fa fa-calendar"></i><span class='date'>{{page.date | date: "%-d %B %Y"}}</span>
    </div>
    {{page.summary}}
</div>
<div class='post'>
  <div class='body'>{{ content }}</div>

  <script src="/javascripts/jquery.toc.js" type="text/javascript" charset="utf-8"></script>
  <!--
  <script type="text/javascript">
      jQuery('').toc();
  </script>
  -->
  <link rel="stylesheet" href="/css/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/jquery-1.4.3.min.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.js"></script>
  <script>
  $(document).ready(function() {
    $("a#single_image").fancybox();
  });
  </script>


</div>


